
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

body {
	background: url(../imagens/oficial.png),
		linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: 'Open Sans Condensed', sans-serif;	
}


nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0,0,0,0.75);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}


.capa {
	text-align: center;
}

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-azul {
	background: rgba(25,25,112,0.75);
	border: 2px solid rgba(0,0,0,0);
}

.btn-azul:hover {
	background: rgba(25,25,112,0.95);
	color: white;
	border: 2px solid white;
}

.btn-branco {
	border: 2px solid rgba(0,0,0,0);
}

.btn-branco:hover {
	color: white;
	background: rgba(0,0,0,0.6);
	border: 2px solid white;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

/* Estrutura conteúdos
-----------------------------*/
.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

#servicos {
	background: white;
}

#recursos {
	color: white;
	background: url(../imagens/background.png),
	linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
}

#servicos h2, h3 {
	color: rgba(25,25,112,0.7);
}

#recursos h2 {
	color: white;
}

#recursos h3 {
	color: #9bf0e1;
}

.albuns {
	padding: 10px 0;
}

.rotacionar {
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
	padding-left: 80px;
}

.imagensTransicao {
	background-color: rgb(0,0,0);
}

.imagensTransicao:hover {
	opacity: 0.8;

}

/* Rodapé
-----------------------------*/
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul {
	list-style: none;
}

footer ul li {
	float: right;
	margin: 0 5px;
}

/* Tipografia
-----------------------------*/
h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
	color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

p {
	font-size: 20px;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}



figure:hover{
	color: white;
}

#servicos a {
	color: rgba(25,25,112,0.7);
}

#servicos a:hover{
	color: rgba(0,0,0,0.7);
	text-decoration: none;
}

.wwa {
	padding-left: 40px;
	padding-right: 40px;
}

#home img {
	margin-top: 150px;
	width: 200px;
	height: 200px;
}

#home h1 {
	font-size: 30px;
}

footer .col-md-4 {
	display: block;
	float: right;
}